.reference/
dist/
third_party/frida/devkit-17.3.2/frida-core.lib
third_party/downloads/
third_party/frida/runtime-17.3.2/*.dll
third_party/frida/runtime-17.3.2/*.lib
third_party/frida/runtime-17.3.2/*.exp
third_party/frida/runtime-17.3.2/*.obj
third_party/frida/runtime-17.3.2/*.a
third_party/zlib/lib/
third_party/zlib/src-1.3.1/
captures/
coverage*.out
coverage-before
